<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <nav>
    <ul id="nav">
    <li id="nav"><a href="/">Home</a></li>
    <li id="nav"><a href="/campsites">Campsites</a></li>
    <li id="nav"><a href="/supplies">Supplies</a></li>
    <li id="oauth">
      <% if (user) { %>
          <a href="/logout"><i class="material-icons left"><%= user.name %></i>Log Out</a>
      <% } else { %>
          <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
      <% } %>
    </li>
  </ul>
  </nav>
</head>