<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <nav>
    <ul id="nav">
    <li id="nav"><a href="">Campsites</a></li>
    <li id="nav"><a href="">Supplies</a></li>
    <li id="nav"><a href="">Visits</a></li>
  </ul>
  </nav>
  <body>
    <h1><%= title %></h1>
    <div><a href="/supplies">Check My Packing List</a></div></br>
    <div><a href="/campsites">View My Visits</a></div></br>
    <div><a href="/campsites">Log A New Visit</a></div></br>
  </body>
</html>
