<%- include('./partials/header'); %>


    <h1><%= title %></h1>
    <div><a href="/supplies">Check My Supply List</a></div></br>
    <div><a href="/campsites">View My Campsites</a></div></br>
    <div><a href="/campsites/query">Add A New Campsite</a></div></br>
  

<%- include('./partials/footer'); %>