<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <nav>
    <ul id="nav">
    <li id="nav"><a href="">Campsites</a></li>
    <li id="nav"><a href="">Supplies</a></li>
    <li id="nav"><a href="">Visits</a></li>
    <li>
      <% if (user) { %>
          <a href="/logout"><i class="material-icons left"><%= user.name %></i>    Log Out</a>
      <% } else { %>
          <a href="/auth/google"><i class="material-icons left"></i>Login with Google</a>
      <% } %>
    </li>
  </ul>
  </nav>


  <body>
    <h1><%= title %></h1>
    <div><a href="/supplies">Check My Packing List</a></div></br>
    <div><a href="/campsites">View My Visits</a></div></br>
    <div><a href="/campsites/query">Log A New Visit</a></div></br>
  </body>
</html>
