<%- include('./partials/header'); %>


    <h1><%= title %></h1>
    <div><a href="/supplies">Check My Packing List</a></div></br>
    <div><a href="/campsites">View My Visits</a></div></br>
    <div><a href="/campsites/query">Log A New Visit</a></div></br>
  

<%- include('./partials/footer'); %>