<%- include('../partials/header'); %>

<h1>Search Page</h1>
<form action="/campsites/query" method="POST">
    <input type="text" name="state" placeholder="Please enter a state (2 letters)">
    <button type="submit">Search</button>
</form>
<% if (!parks) { %>
<h2>Please enter a state...</h2>
<% } %>
<% if(parks) { %>
    <% parks.forEach((park) => { %>
        <%= park.name %><br>
        <% if (park.images.length) { %>
            <img width=500 src="<%= park.images[0].url %>" alt=""><br>
            <% } %>
            <form action="/campsites/:id" method="GET">
            <button>View Park Details</button>
          </form></br>   
            <button>Add Park to Visits</button></br>
        <% }) %>
<% } %>
