body {
  font-family: 'Mukta', sans-serif;
  background-color: #005366;
  color: white;
}

main {
  padding: 30px;
}

a {
  color: whitesmoke;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fa8c6e;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
  list-style: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #005366;
}

.active {
  background-color: #ff8a80;
}

button {
  display: inline;
}

.btn {
  display: inline;
}

button a {
  color: black;
}

form {
  display: inline;
}

.input-field input[type=text]:focus {
  color: white;
  border-bottom: 2px solid white;
  box-shadow: 0 2px 0 0 white;
}
/* valid color */
.input-field input[type=text].valid {
  color: white;
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white;
}
/* invalid color */
.input-field input[type=text].invalid {
  color: white;
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: white;
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white;
}
